
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
html,body{
  overflow-x: hidden;
  overflow-y: auto;
}



@media (min-width:1100px) {
    .MuiContainer-root {
    max-width: 1160px;
}
}
